<%- include('../partials/header.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Ads Settings</h1>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="formAdsSetting" action="/admin/updateAdsSetting" method="POST">
                                <input type="hidden" value="<%= setting._id %>" name="_id">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <div class="custom-control custom-switch custom-switch-on-success">
                                                <input type="checkbox" class="custom-control-input"
                                                    name="isVideoAdsShow" id="isVideoAdsShow" <%=setting.isVideoAdsShow
                                                    ? 'checked' : 'unchecked' %>>
                                                <label class="custom-control-label" for="isVideoAdsShow">Video Ads <span
                                                        class="fas fa-info-circle ml-1" data-toggle="tooltip"
                                                        data-placement="top"
                                                        data-original-title="if Active then user can see Video ad after complete the Quiz, otherwise it will show Interstitial Ad"></span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <div class="custom-control custom-switch custom-switch-on-success">
                                                <input type="checkbox" class="custom-control-input"
                                                    name="isRewardedVideoAdsShow" id="isRewardedVideoAdsShow"
                                                    <%=setting.isRewardedVideoAdsShow ? 'checked' : 'unchecked' %>>
                                                <label class="custom-control-label"
                                                    for="isRewardedVideoAdsShow">Rewarded
                                                    Video Ads</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <div class="custom-control custom-switch custom-switch-on-success">
                                                <input type="checkbox" class="custom-control-input" name="isAdShow"
                                                    id="isAdShow" <%=setting.isAdShow ? 'checked' : 'unchecked' %>>
                                                <label class="custom-control-label" for="isAdShow">Ads Show</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="adCount">Ad Count <span class="fas fa-info-circle ml-1"
                                                    data-toggle="tooltip" data-placement="top" title=""
                                                    data-original-title="Enter page count for full screen(Interstitial) ad. user can see add on no. of screen redirects"></span></label>
                                            <input type="number" class="form-control" name="adCount" id="adCount"
                                                value="<%= setting.adCount %>" placeholder="Enter Page count per Ad">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="androidAdMobAppId">AdMob App Id (Android)</label>
                                            <input type="string" class="form-control" name="androidAdMobAppId"
                                                id="androidAdMobAppId" value="<%= setting.androidAdMobAppId %>"
                                                placeholder="Enter AdMob App ID for Android">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="iOSAdMobAppId">AdMob App Id (iOS)</label>
                                            <input type="string" class="form-control" name="iOSAdMobAppId"
                                                id="iOSAdMobAppId" value="<%= setting.iOSAdMobAppId %>"
                                                placeholder="Enter AdMob App ID for iOS">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="androidAdMobBannerId">AdMob Banner AdID (Android)</label>
                                            <input type="string" class="form-control" name="androidAdMobBannerId"
                                                id="androidAdMobBannerId" value="<%= setting.androidAdMobBannerId %>"
                                                placeholder="Enter AdMob Banner AdID for Android">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="iOSAdMobBannerId">AdMob Banner AdID (iOS)</label>
                                            <input type="string" class="form-control" name="iOSAdMobBannerId"
                                                id="iOSAdMobBannerId" value="<%= setting.iOSAdMobBannerId %>"
                                                placeholder="Enter AdMob Banner AdID for iOS">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="androidAdMobInterstitialAdId">AdMob Interstitial AdID
                                                (Android)</label>
                                            <input type="string" class="form-control"
                                                name="androidAdMobInterstitialAdId" id="androidAdMobInterstitialAdId"
                                                value="<%= setting.androidAdMobInterstitialAdId %>"
                                                placeholder="Enter AdMob Interstitial AdID for Android">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="iOSAdMobInterstitialAdId">AdMob Interstitial AdID (iOS)</label>
                                            <input type="string" class="form-control" name="iOSAdMobInterstitialAdId"
                                                id="iOSAdMobInterstitialAdId"
                                                value="<%= setting.iOSAdMobInterstitialAdId %>"
                                                placeholder="Enter AdMob Interstitial AdID for iOS">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="androidAdMobRewardedVideoAdId">AdMob Rewarded Video AdID
                                                (Android)</label>
                                            <input type="string" class="form-control"
                                                name="androidAdMobRewardedVideoAdId" id="androidAdMobRewardedVideoAdId"
                                                value="<%= setting.androidAdMobRewardedVideoAdId %>"
                                                placeholder="Enter AdMob Rewarded Video AdID for Android">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="iOSAdMobRewardedVideoAdId">AdMob Rewarded Video AdID
                                                (iOS)</label>
                                            <input type="string" class="form-control" name="iOSAdMobRewardedVideoAdId"
                                                id="iOSAdMobRewardedVideoAdId"
                                                value="<%= setting.iOSAdMobRewardedVideoAdId %>"
                                                placeholder="Enter AdMob Rewarded Video AdID for iOS">
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-lg btn-primary">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.content-wrapper -->

    <%- include('../partials/footer.ejs') %>